site_name: Projekt 3 "Dreckssau"

theme:
  name: material

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths:
            - src
          options:
            docstring_style: google
            show_source: true

nav:
  - Start: index.md
  - Funktionen: funktionen.md
